body {
  margin: 0;
  background: var(--background-color);
  font-family: "Libre Baskerville", serif;
}

:root {
  --accent-color: #69581b;
  --accent-hover-color: #453a13;
  --primary-color: #f5e9d3;
  --secondary-color: #f3e4db;
  --background-color: #fffcfa;
}
